{% extends 'base.html.twig' %}

{% block title %}
    Mon article
{% endblock %}

{% block metas %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div id="container pt-5">
        <h1>Détail d'un article  </h1>

    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
